#chat-screen {
  background-color: #abc1d1;
  /*height: 100vh;*/
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  opacity: 0.9;
  top: 0px;
}
#chat-screen .alt-header {
  top: 25px;
  z-index: 1;
}
#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 25px;
}

@keyframes messagerowShooting {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-row {
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: messagerowShooting 0.4s ease-in-out forwards;
  animation-delay: 0.6s;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 17px;
  margin-right: 15px;
}

.message_author {
  margin-bottom: 5px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px 13px;
  font-size: 18px;
  border-radius: 13px;
  border-top-left-radius: 0;
  margin-right: 5px;
}
.message__time,
.message_author {
  opacity: 0.8;
  font-size: 14px;
}

@keyframes messagerowOwnShooting {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own {
  opacity: 0;
  justify-content: flex-end;
  animation: messagerowOwnShooting 0.4s ease-in-out forwards;
  animation-delay: 0.9s;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 5px;
}

/* 
flex의 자식들만 가능한 순서 바꾸기 :
여기서도 가능하지만 코드가 길어져서 flex-direction: row-reverse;로 대체했음

.message-row--own .message__bubble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
}
*/
/*html 수정 없이 css 만으로 순서 modifier의 바꾸기*/
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  /*height: 60px;*/
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px 30px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column ::placeholder {
  font-size: 14px;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 11px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 3px;
}
.reply__column:last-child i {
  right: 25px;
  top: 9px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

/* 
reply 내에 focus된 것이 있는지 확인하는 within
 > reply가 focus 된것이 참이라면 실행한다.
*/

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 93vw;
  transform: translateX(-14%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
