.badge {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.badge__dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
  position: absolute;
}

.screen-header__title__dot {
  left: 73px;
  top: -23px;
}
.nav__list__btn__dot {
  right: -7px;
  bottom: 28px;
}
